#home {
    display: flex; 
    justify-content: center;
    height: 800px; 
    background-image: url(../header-background-image.jpg); 
    background-size: cover; 
    object-fit: contain;
}

.nav {
    position: fixed; 
    display: flex; 
    list-style-type: none;
    height: 30px; 
    width: 100%; 
    justify-content: space-evenly;
    padding: 10px; 
    z-index: 1; 
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.795);

    /* Animations */
    transition-timing-function: ease-in; 
    transition: all 0.5s; 
}

.blur { 
    position: absolute; 
    height: 60px; 
    top: -20px;  
    box-shadow: inset 0 0 0 2000px rgba(236, 169, 206, 0.6);
    filter: blur(10px);
    overflow: hidden; 
    width: 100%; 
}

a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
}

.banner {
    align-self: center;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.banner__headline {
    font-size: 50px; 
}

.socials {
    display: flex; 
    justify-content: space-around;
    padding: 10px; 
    color: white; 
}
